################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BasketIQ.API/.vs/BasketIQ.API.slnx
