################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasketIQ.API/.vs/BasketIQ.API.slnx
/BasketIQ.APP/BasketIQ/.vscode
/BasketIQ.API/.vs/ProjectEvaluation
/BasketIQ.API/bin/Debug/net10.0
/BasketIQ.API/obj/Debug/net10.0/ref
/BasketIQ.API/obj/Debug/net10.0/refint
/BasketIQ.API/obj/Debug/net10.0/apphost.exe
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.79FE8798.Up2Date
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.AssemblyInfo.cs
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.AssemblyInfoInputs.cache
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.csproj.CoreCompileInputs.cache
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.csproj.FileListAbsolute.txt
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.dll
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.genruntimeconfig.cache
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.MvcApplicationPartsAssemblyInfo.cache
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.MvcApplicationPartsAssemblyInfo.cs
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.pdb
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.sourcelink.json
/BasketIQ.API/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/BasketIQ.API/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/BasketIQ.API/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/BasketIQ.API/obj/Debug/net10.0/staticwebassets.build.json
/BasketIQ.API/obj/Debug/net10.0/staticwebassets.build.json.cache
/BasketIQ.API/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
/BasketIQ.API/obj/Debug/net10.0/swae.build.ex.cache
/BasketIQ.API/obj/BasketIQ.API.csproj.nuget.dgspec.json
/BasketIQ.API/obj/BasketIQ.API.csproj.nuget.g.props
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.assets.cache
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.csproj.AssemblyReference.cache
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.GeneratedMSBuildEditorConfig.editorconfig
/BasketIQ.API/obj/Debug/net10.0/rpswa.dswa.cache.json
/BasketIQ.API/obj/project.assets.json
/BasketIQ.API/obj/project.nuget.cache
