################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasketIQ.API/.vs/BasketIQ.API.slnx
/BasketIQ.APP/BasketIQ/.vscode
/BasketIQ.API/.vs/ProjectEvaluation
